<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs Form</title>
  </head>
  <body>
    <%if(user){%>
    <h3><%= user.firstname%></h3>
    <%}%>
    <form method="POST" action="/blog">
      <fieldset>
        <input name="title" placeholder="title" type="text" />
        <input name="description" placeholder="description" type="text" />
        <input name="author" placeholder="author" type="text" />
        <input type="submit" value="Add blog article" />
      </fieldset>
    </form>
  </body>
</html>